<div class="task-manager">
  <h1>To-Do List</h1>
  <p>All Tasks: {{ tasks.length }}</p>

  <input type="text" [(ngModel)]="newTask" placeholder="Write new task here">
  <button (click)="addTask()">Add</button>

  <button (click)="toggleTaskList = !toggleTaskLisct">
    {{ toggleTaskList ? 'Hide List' : 'Show List' }}
  </button>

  <ul *ngIf="toggleTaskList">
    <li *ngFor="let task of tasks; let i = index" [ngClass]="{ 'completed': task.completed }">
      {{ task.name }}
      <button (click)="toggleTaskCompletion(i)" [disabled]="task.completed">
        {{ task.completed ? 'Completed' : 'Mark as Completed' }}
      </button>
      <button (click)="deleteTask(i)" class="delete-btn">Exclude</button>
    </li>
  </ul>
</div>
